/* ***************** */
/*  BASE STYLE       */
/* ***************** */
$font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
$font-family-ar: "Cairo", "Open Sans", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif
$font-weight: 400
$font-size: 48px

$primary-color: #333;
$secondary-color: rgba(255, 135, 0, 0.75);
$primary-background: #bbddbb;
$secondary-background: #bbddbb;

$primary-transparent-background: rgba(0, 0, 0, 0.05)
$secondary-transparent-background: rgba(255, 255, 255, 0.25)

$primary-transparent-color: rgba(0, 0, 0, 0.25)
$secondary-transparent-color: rgba(255, 255, 255, 0.75)

/* ***************** */
/*  OVERRIDE STYLES  */
/* ***************** */
$header-color: inherit
$header-background: $secondary-color
$header-font-weight: inherit
$header-font-size: 75%
$header-padding: 1rem 2rem

$clock-color: inherit
$clock-background: none
$clock-font-weight: inherit
$clock-font-size: 360%
$clock-padding: false

$prayers-color: inherit
$prayers-background: none
$prayers-font-weight: inherit
$prayers-font-size: inherit
$prayers-padding: false
$prayers-header-background: true
$prayers-font-uppercase: true

$message-color: inherit
$message-background: none
$message-font-weight: inherit
$message-font-size: 65%
$message-padding: 1rem

$countdown-color: inherit
$countdown-background: $primary-transparent-background
$countdown-font-weight: inherit
$countdown-font-size: inherit
$countdown-padding: 0.25rem 1rem

$footer-color: $primary-color
$footer-background: $secondary-color
$footer-font-weight: inherit
$footer-font-size: 65%
$footer-padding: 1rem 2rem