<template lang="pug">
  section#header
    div {{ date }}
    div.image
      Logo
    div {{ hijri }}
</template>

<script lang="ts">
import Vue from 'vue'
import { mapState } from 'vuex'
import { format } from 'date-fns'
import { hijriDate } from '../helpers/func'
// @ts-ignore
import Logo from '../config/logo.svg'

export default {
  name: 'Header',
  computed: {
    ...mapState({
      date: (state: any) => format(state.prayers.now, 'EEE d MMMM yyyy'),
      hijri: (state: any) => hijriDate(state.prayers.hijri),
    })
  },
  components: {
    Logo,
  },
}
</script>

<style scoped lang="sass">
#header
  color: $header-color
  background: $header-background
  font-weight: $header-font-weight
  font-size: $header-font-size
  height: 5rem
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: $header-padding
  
  div
    width: 100%
    text-align: center
  div:first-child 
      text-align: left
  div:last-child
      text-align: right

  div.image svg
    /* width: 3rem */
    height: 3rem
    path
      fill: $header-color
      fill-rule: nonzero
</style>
