<template lang="pug">
  section#overlay
    .logo
      Logo
    
    h1 {{ event }}

    .calendar
      .clock {{ now }}
      .hijri {{ hijri }}
      .date {{ date }}

    .title {{ title }}

</template>

<script lang="ts">
import Vue from 'vue'
import { mapActions, mapState } from 'vuex'
import { format } from 'date-fns'
// @ts-ignore
import Logo from '../config/logo.svg'
import { hijriDate } from '../helpers/func'

export default {
  name: 'Overlay',
  computed: {
    ...mapState({
      now: (state: any) => format(state.prayers.now, 'HH:mm:ss'),
      title: (state: any) => state.settings.title,
      date: (state: any) => format(state.prayers.now, 'EEE d MMMM yyyy'),
      hijri: (state: any) => hijriDate(state.prayers.hijri),
      event: (state: any) => state.update.event,
    }),
  },
  mounted() {
    // console.log(this.state)
  },
  components: {
    Logo,
  },
}
// console.log('finish script')
</script>

<!-- Add 'scoped' attribute to limit CSS to this component only -->
<style scoped lang="sass">
#overlay
  position: absolute
  z-index: 10000
  height: 100%
  width: 100%
  top: 0
  color: rgba(255,255,255,.5)
  background: rgba(0,0,0,.95)
  // font-weight: $clock-font-weight
  // font-size: $clock-font-size
  display: flex
  flex: 1
  flex-direction: column
  justify-content: space-between
  align-items: center
  padding: 3rem
  
  div.logo
    svg
      /* width: 3rem */
      height: 10rem
      path
        fill: rgba(255,255,255,.5)
        fill-rule: nonzero

  div.clock
    // display: absolute
</style>
