// ***************** */
//  BASE STYLE       */
// ***************** */
$font-family: 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
$font-family-ar: 'Cairo', 'Open Sans', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
$font-weight: 400
$font-size: 48px

$primary-color: #f3f3f3;
$secondary-color: rgba(255, 135, 0, .5);
$primary-background: #115;
$secondary-background: #bdb;

$primary-transparent-background: rgba(255, 255, 255, .05)
$secondary-transparent-background: rgba(255, 255, 255, .15)

$primary-transparent-color: rgba(0, 0, 0, .25)
$secondary-transparent-color: rgba(255, 255, 255, .75)

// ***************** */
//  OVERRIDE STYLES  */
// ***************** */
$header-color: $primary-color
$header-background: $secondary-color
$header-font-weight: inherit
$header-font-size: 65%
$header-padding: 1rem 2rem

$clock-color: inherit
$clock-background: none
$clock-font-weight: inherit
$clock-font-size: 360%
$clock-padding: 2rem 1rem

$prayers-color: inherit
$prayers-background: none
$prayers-font-weight: inherit
$prayers-font-size: inherit
$prayers-padding: false
$prayers-header-background: true
$prayers-font-uppercase: true

$message-color: inherit
$message-background: none
$message-font-weight: inherit
$message-font-size: 65%
$message-padding: 1rem

$countdown-color: inherit
$countdown-background: $primary-transparent-background
$countdown-font-weight: inherit
$countdown-font-size: 85%
$countdown-padding: .15rem 1rem

$footer-color: $primary-color
$footer-background: $secondary-color
$footer-font-weight: inherit
$footer-font-size: 65%
$footer-padding: 1rem 2rem
