doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1.0')
  //- link(rel='icon' href='<%= BASE_URL %>favicon.ico')
  link(rel='icon' href='./favicon.ico')
  title prayer-timetable-vue
noscript
  strong
    | We're sorry but prayer-timetable-vue doesn't work properly without JavaScript enabled. Please enable it to continue.
#app
// built files will be auto injected
